@model Businessdevweb.Models.ApplicationUser
@{
    ViewBag.Title = "اطلاعات شخصی";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="profile-user-page default">
    <div class="container">
        <div class="row">
            <div class="profile-page col-xl-9 col-lg-8 col-md-12 order-2">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-12">
                            <h1 class="title-tab-content">@ViewBag.Title</h1>
                        </div>
                        <div class="content-section default">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <p>
                                        <span class="title">نام و نام خانوادگی :</span>
                                        <span>@Model.FirstName @Model.LastName</span>
                                    </p>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <p>
                                        <span class="title">پست الکترونیک :</span>
                                        <span>@Model.Email</span>
                                    </p>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <p>
                                        <span class="title">شماره تلفن همراه:</span>
                                        <span>@Model.PhoneNumber</span>
                                    </p>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <p>
                                        <span class="title">دریافت خبرنامه :</span>
                                        <span>@(Model.IsNews ? "بله" : "خیر")</span>
                                    </p>
                                </div>

                                <div class="col-12 text-center">
                                    <a href="@Url.Action("Edit","Account")" class="btn-link-border form-account-link">
                                        ویرایش اطلاعات شخصی
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="profile-page-aside col-xl-3 col-lg-4 col-md-6 center-section order-1">
                <div class="profile-box">


                    <div class="profile-box-header">


                        <div class="profile-box-avatar">
                            <form class="ajaxForm" success-func="changeSuccess" id="form_Brand@(Model.Id)" action="/Account/ChangePicture" data-autoReset="false" enctype="multipart/form-data" method="post">



                                <input data-show-loader="false" data-show-remove="false" type="file" name="file"
                                       for="form_Brand@(Model.Id)" class="dropify" data-default-file="@(Model.ImageFile==null?"":"/Content/uploadFiles/Users/"+Model.ImageFile)" />
                                <input type="submit" id="form_Brand@(Model.Id)_btn" style="display:none" />

                            </form>
                        </div>
                    </div>

                    <div class="profile-box-username">@Model.FirstName @Model.LastName</div>
                    <form action="@Url.Action("LogOff","Account")" method="post" id="logOff-form">
                        @Html.AntiForgeryToken()
                    </form>
                    <div class="profile-box-tabs">
                        <a href="@Url.Action("Index","Manage")" class="profile-box-tab profile-box-tab-access">
                            <i class="now-ui-icons ui-1_lock-circle-open"></i>
                            تغییر رمز
                        </a>

                        <a onclick="$('#logOff-form').submit();" class="profile-box-tab profile-box-tab--sign-out">
                            <i class="now-ui-icons media-1_button-power"></i>
                            خروج از حساب
                        </a>

                    </div>
                </div>
             
                
            </div>
        </div>
    </div>
</main>

@section Styles{
    <link href="~/Content/lib/dropify/dist/css/dropify.min.css" rel="stylesheet" type="text/css" />
    <style>
        .file-icon:before {
            margin: 0 !important;
            padding: 0
        }

        .dropify-message {
            top: unset !important;
            -webkit-transform: translateY(0%) !important;
            transform: translateY(0%) !important;
        }

        main.profile-user-page .profile-box-avatar img {
            left: unset !important;
        }
    </style>
    <link href="~/Content/lib/sweetalert/dist/sweetalert.css" rel="stylesheet" type="text/css">
}
@section Scripts{
    <!-- Bootstrap Daterangepicker JavaScript -->
    <script src="~/Content/lib/dropify/dist/js/dropify.min.js"></script>

    <!-- Form Flie Upload Data JavaScript -->
    <script src="~/Content/js/form-file-upload-data.js"></script>
    <script src="~/Content/lib/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/Content/js/AjaxHelper.js"></script>
    <script>
        $('.dropify').dropify({
            tpl: {
                wrap: '<div class="dropify-wrapper" style="padding:0;margin:0 auto;width:60px!important; height:60px !important ;border-radius:50%"></div>',
                loader: '',
                message: '<div class="dropify-message"><span class="file-icon" /></div>',
                preview: '<div class="dropify-preview"><span class="dropify-render"></span></div>',
                filename: '',
                clearButton: '',
                errorLine: '',
                errorsContainer: ''
            }
        });

    </script>
    <script>

        function changeSuccess(data) {

            //examples
            if (data.type == "success") {
                swal({
                    title: "آفرین!",
                    type: "success",
                    text: data.result,
                    timer: 3000,
                    showConfirmButton: false
                });
            } else {
                swal({
                    title: "خطا!",
                    type: "error",
                    text: data.result,
                    timer: 3000,
                    showConfirmButton: false
                });
            }
            return false;
        }
        
        var elements = document.querySelectorAll(".dropify[name=file]");
        for (let i = 0; i < elements.length; i++) {
            elements[i].addEventListener("change",
                function (eve) {



                    let el = eve.currentTarget;
                    let form = el.getAttribute("for");
                    eve.preventDefault();
                    document.getElementById(form + "_btn").click();

                });
        }
    </script>
}