
@{


    ViewBag.Title = ViewBag.SiteTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var productCategory = (Businessdevweb.Models.ProductCategory)ViewData["ProductCategory"];
    ViewBag.Title = productCategory.Title;
}

<!-- main -->
<main class="search-page default">
    <div class="container">
        <div class="row">
        
            <div class="col-12 col-sm-12 order-1">
                <div class="breadcrumb-section default">
                    <ul class="breadcrumb-list">
                        <li>
                            <a href="~/">
                                <span>@ViewBag.SiteTitle</span>
                            </a>
                        </li>
                        <li><span>@productCategory.Title</span></li>
                    </ul>
                </div>
                <div class="listing default">
                    <div class="listing-counter">@productCategory.Products.Count() کالا</div>
                    <div class="listing-header default">
                        <ul class="listing-sort nav nav-tabs justify-content-center" role="tablist"
                            data-label="مرتب‌سازی بر اساس :">
                            <li>
                                <a class="active" data-toggle="tab" href="#related" role="tab"
                                   aria-expanded="false">مرتبط‌ترین</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#most-view" role="tab"
                                   aria-expanded="false">پربازدیدترین</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#new" role="tab" aria-expanded="true">جدیدترین</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#most-seller" role="tab"
                                   aria-expanded="false">پرفروش‌ترین‌</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#down-price" role="tab"
                                   aria-expanded="false">ارزان‌ترین</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#top-price" role="tab"
                                   aria-expanded="false">گران‌ترین</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content default text-center">
                        <div class="tab-pane active" id="related" role="tabpanel" aria-expanded="true">
                            <div class="container no-padding-right">
                                <ul class="row listing-items">
                                    @foreach (var item in productCategory.Products.Take(12))
                                    {
                                        <li class="col-xl-3 col-lg-4 col-md-6 col-12 no-padding">
                                            <div class="product-box">
                                                <div class="product-seller-details product-seller-details-item-grid">
                                                    <span class="product-main-seller">
                                                        <span class="product-seller-details-label">
                                                            فروشنده:
                                                        </span>@ViewBag.LogoTitle
                                                    </span>
                                                    <span class="product-seller-details-badge-container"></span>
                                                </div>
                                                <a class="product-box-img" href="@Url.Action("Index","Products",new { id=item.Name})">
                                                    <img src="~/Content/uploadFiles/Products/@item.ImageFile" alt="">
                                                </a>
                                                <div class="product-box-content">
                                                    <div class="product-box-content-row">
                                                        <div class="product-box-title">
                                                            <a href="@Url.Action("Index","Products",new { id=item.Name})">
                                                               @item.FirstTitle
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="product-box-row product-box-row-price">
                                                        <div class="price">
                                                            <div class="price-value">
                                                                <div class="price-value-wrapper">
                                                                    @(item.IsDiscount&&item.DiscountPercent>0?item.PriceWithDiscount:item.Price)<span class="price-currency">ريال</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    }


                                </ul>
                            </div>
                        </div>
             
                    </div>
                    <div class="pager default text-center">
                        <ul class="pager-items">
                            <li>
                                <a class="pager-item is-active" href="#">۱</a>
                            </li>
                            <li>
                                <a class="pager-item" href="#">۲</a>
                            </li>
                            <li>
                                <a class="pager-item" href="#">۳</a>
                            </li>
                            <li>
                                <a class="pager-item" href="#">۴</a>
                            </li>
                            <li>
                                <a class="pager-item" href="#">۵</a>
                            </li>
                            <line class="pager-items--partition"></line>
                            <li>
                                <a class="pager-next"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- main -->