@model Businessdevweb.Models.IndexViewModel
@{
    ViewBag.Title = "مدیریت حساب";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>تنظیمات مربوط به حساب شما</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>کلمه عبور:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("تغییر کلمه عبور", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("تعیین کلمه عبور", "SetPassword")
            }
            ]
        </dd>


          
            <dt>شماره تلفن:</dt>
            <dd>
                @(Model.PhoneNumber ?? "None")
                @if (Model.PhoneNumber != null)
                {
                    <br />
                    <text>[&nbsp;&nbsp;@Html.ActionLink("تغییر", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                    using (Html.BeginForm("حذف شماره تلفن", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>[<input type="submit" value="حذف" class="btn-link" />]</text>
                    }
                }
                else
                {
                    <text>[&nbsp;&nbsp;@Html.ActionLink("اضافه", "AddPhoneNumber")]</text>
                }
            </dd>

    </dl>
</div>
