@model Businessdevweb.Models.Product

@{

    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

    var category = (ViewData["Category"] == null) ? null : (Businessdevweb.Models.ProductCategory)ViewData["Category"];
    
    ViewBag.Title = category == null ? "افزودن محصول" : "افزودن محصول " + category.Title;
}

<!-- Title -->
<div class="row heading-bg pull-left rtl">

    <!-- Breadcrumb -->
    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
        <ol class="breadcrumb">
            <li></li>
            <li><a href="@Url.Action("Index","Dashboard",new { area = "Admin" })"><span>داشبورد</span></a></li>
            @if (category != null)
            {
                <li><a href="@Url.Action("Index","Products",new { area="Admin",id=category==null?null:category.Id})"><span>@(category == null ? "مدیریت محصولات" : "محصولات " + category.Title)</span></a></li>

            }
            else
            {
                <li><a href="@Url.Action("Index","ProductCategories",new { area="Admin"})"><span>@("مدیریت دسته بندی")</span></a></li>

            }
            <li class="active"><span>@ViewBag.Title </span></li>
        </ol>
    </div>
    <!-- /Breadcrumb -->
</div>
<!-- /Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h5 class="txt-dark">@ViewBag.Title </h5>

                </div>
                @if (category != null)
                {
                    <div class="pull-right dt-buttons">
                        <a class="dt-button" href="@Url.Action("Index","Products",new { area="Admin",id=category==null?null:category.Id})">@(category == null ? "مدیریت محصولات" : "محصولات " + category.Title)</a>
                    </div>
                }

                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="form-wrap">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                @Html.ValidationSummary("", htmlAttributes: new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-sm-12 row">
                                <div class="col-sm-6 ">
                                    @Html.LabelFor(m => m.Code, htmlAttributes: new { @class = "control-label mb-10 text-right" })

                                    @Html.TextBoxFor(m => m.Code, htmlAttributes: new { @class = "form-control" })
                                </div>
                                <div class="col-sm-6 ">
                                    @Html.LabelFor(m => m.Brand, htmlAttributes: new { @class = "control-label mb-10 text-right" })

                                    @Html.TextBoxFor(m => m.Brand, htmlAttributes: new { @class = "form-control" })
                                </div>


                            </div>
                            <div class="col-sm-12 row">
                                <div class="form-group col-sm-6">
                                    @Html.LabelFor(m => m.FirstTitle, htmlAttributes: new { @class = "control-label mb-10 text-right" })
                                    @Html.TextBoxFor(m => m.FirstTitle, htmlAttributes: new { @class = "form-control" })


                                </div>
                                <div class="form-group col-sm-6">
                                    @Html.LabelFor(m => m.SecondTitle, htmlAttributes: new { @class = "control-label mb-10 text-right" })
                                    @Html.TextBoxFor(m => m.SecondTitle, htmlAttributes: new { @class = "form-control" })


                                </div>
                            </div>
                            <div class="col-sm-12 row">
                                <div class="form-group col-sm-6">
                                    @Html.LabelFor(m => m.Price, htmlAttributes: new { @class = "control-label mb-10 text-right" })
                                    @Html.TextBoxFor(m => m.Price, htmlAttributes: new { @class = "form-control" })


                                </div>


                                <div class="form-group  col-sm-6">
                                    @*  @Html.LabelFor(m => m.DiscountPercent, htmlAttributes: new { @ })*@
                                    <div class="control-label mb-10 text-right">
                                        @Html.CheckBoxFor(m => m.IsDiscount)
                                        @Html.LabelFor(m => m.IsDiscount)
                                    </div>
                                    @Html.TextBoxFor(m => m.DiscountPercent, htmlAttributes: new { @placeholder = Html.DisplayNameFor(m => m.DiscountPercent), @class = "form-control is-discount" })


                                </div>
                            </div>
                            <div class="col-sm-12 row">
                                <div class="form-group col-sm-12 ">
                                    @Html.LabelFor(m => m.Description, htmlAttributes: new { @class = "control-label mb-10 text-right" })

                                    @Html.TextAreaFor(m => m.Description, htmlAttributes: new { @class = "form-control" })

                                </div>
                                </div>
                                <div class="col-sm-12 row">
                                    <div class="form-group col-sm-6">
                                        @Html.LabelFor(m => m.MetaDescription, htmlAttributes: new { @class = "control-label mb-10 text-right" })
                                        @Html.TextAreaFor(m => m.MetaDescription, htmlAttributes: new { @class = "form-control" })


                                    </div>
                                    <div class="form-group col-sm-6">
                                        @Html.LabelFor(m => m.MetaKeyWord, htmlAttributes: new { @class = "control-label mb-10 text-right" })
                                        @Html.TextAreaFor(m => m.MetaKeyWord, htmlAttributes: new { @class = "form-control" })


                                    </div>
                                </div>

                                <div class="col-sm-12 row">
                                    <div class="form-group col-sm-6">
                                        @Html.LabelFor(m => m.Qty, htmlAttributes: new { @class = "control-label mb-10 text-right" })
                                        @Html.TextBoxFor(m => m.Qty, htmlAttributes: new { @class = "form-control" })


                                    </div>
                                    <div class="form-group col-sm-6">
                                        @Html.LabelFor(m => m.CategoryId, htmlAttributes: new { @class = "control-label mb-10" })
                                        @Html.DropDownListFor(m => m.CategoryId, (SelectList)ViewBag.CategoryId, "انتخاب", htmlAttributes: new { @class = "selectpicker" })

                                    </div>
                                </div>
                                <div class="col-sm-12 ">
                                    <div class="form-group">
                                        @Html.CheckBoxFor(m => m.IsActive)
                                        @Html.LabelFor(m => m.IsActive)
                                    </div>
                                </div>


                                <div class="form-group mb-0">
                                    <button type="submit" class="btn btn-success btn-anim"><i class="icon-rocket"></i><span class="btn-text">ذخیره</span></button>
                                </div>
                                }
                            </div>
                        </div>
            </div>
        </div>
    </div>
</div>
@section Styles{
    <!-- bootstrap-select CSS -->
    <link href="~/Content/lib/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
}

@section Scripts{
    <!-- Bootstrap Select JavaScript -->
    <script src="~/Content/lib/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script>
        let isDiscount = document.getElementById("IsDiscount");
        if (isDiscount.checked === true) {
            //   $("input[name=IsParent]").val(true);
            $(".is-discount").css("display", "block");
        } else {
            //    $("input[name=IsParent]").val(false);
            $(".is-discount").css("display", "none");
        }
        document.getElementById("IsDiscount").addEventListener("change", function () {
            let isDiscount = document.getElementById("IsDiscount");
            if (isDiscount.checked === true) {
                //   $("input[name=IsParent]").val(true);
                $(".is-discount").css("display", "block");
            } else {
                //    $("input[name=IsParent]").val(false);
                $(".is-discount").css("display", "none");
            }
        });
    </script>
}