@model Businessdevweb.Models.SliderImage


@{

    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var slider = (Businessdevweb.Models.Slider)ViewData["Slider"];
    ViewBag.Title = "افزودن بنر";
}

<!-- Title -->
<div class="row heading-bg pull-left rtl">

    <!-- Breadcrumb -->
    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
        <ol class="breadcrumb">
            <li></li>
            <li><a href="@Url.Action("Index","Dashboard",new { area = "Admin" })"><span>داشبورد</span></a></li>
            <li><a href="@Url.Action("Index","SliderImages",new { area="Admin",id=slider.Id})"><span>بنرهای  @(slider.Title)</span></a></li>
            <li class="active"><span>@ViewBag.Title </span></li>
        </ol>
    </div>
    <!-- /Breadcrumb -->
</div>
<!-- /Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h5 class="txt-dark">@ViewBag.Title </h5>

                </div>

                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="form-wrap">
                        @using (Html.BeginForm("Create", "SliderImages", FormMethod.Post, htmlAttributes: new { @enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                @Html.ValidationSummary("", htmlAttributes: new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-12 row">
                                <div class="form-group col-sm-6">
                                    @Html.Label("عنوان تصویر", htmlAttributes: new { @class = "control-label mb-10 text-right" })
                                    @Html.TextBoxFor(m => m.Title, "", htmlAttributes: new { @class = "form-control", @requird = "requird" })


                                </div>
                                <div class="form-group col-sm-6">
                                    @Html.LabelFor(m => m.URLPage, htmlAttributes: new { @class = "control-label mb-10 text-right" })
                                    @Html.TextBoxFor(m => m.URLPage, htmlAttributes: new { @class = "form-control" })


                                </div>
                            </div>

                            @Html.Hidden("SliderId",slider.Id)
                            <div class="form-group col-sm-12">
                                @Html.Label("فایل تصویر", htmlAttributes: new { @class = "control-label mb-10 text-right" })
                                <input data-show-loader="false" data-show-remove="false" type="file" name="file" class="dropify" data-default-file="" />
                            </div>



                            <div class="form-group mb-0">
                                <button type="submit" class="btn btn-success btn-anim"><i class="icon-rocket"></i><span class="btn-text">ذخیره</span></button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles{
    <!-- Bootstrap Dropify CSS -->
    <link href="~/Content/lib/dropify/dist/css/dropify.min.css" rel="stylesheet" type="text/css" />
    <style>
        .file-icon:before {
            margin: 0 !important;
            padding: 0
        }

        .dropify-message {
            -webkit-transform: translateY(0%) !important;
            transform: translateY(0%) !important;
        }
    </style>
}

@section Scripts{

    <!-- Bootstrap Daterangepicker JavaScript -->
    <script src="~/Content/lib/dropify/dist/js/dropify.min.js"></script>

    <!-- Form Flie Upload Data JavaScript -->
    <script src="~/Content/js/form-file-upload-data.js"></script>
    <script>
        $('.dropify').dropify({
            tpl: {
                wrap: '<div class="dropify-wrapper" style="height:600px !important; display: block"></div>',
                loader: '',
                message: '<div class="dropify-message"><span class="file-icon" /></div>',
                preview: '<div class="dropify-preview"><span class="dropify-render"></span></div>',
                filename: '',
                clearButton: '',
                errorLine: '',
                errorsContainer: ''
            }
        });

    </script>
}